# Configuration for the Redoxer image

include = ["base.toml"]

# Package settings
[packages]
bash = {}
ca-certificates = {}
coreutils = {}
extrautils = {}
findutils = {}
gnu-make = {}
ion = {}
pkgutils = {}
relibc = {}
sed = {}

# Override to not background dhcpd
[[files]]
path = "/usr/lib/init.d/10_net"
data = """
requires_weak 00_drivers
notify smolnetd
dhcpd
"""

[[files]]
path = "/usr/lib/init.d/30_redoxer"
data = """
requires_weak 10_net
ion /usr/lib/run_redoxer.ion
"""

[[files]]
path = "/usr/lib/run_redoxer.ion"
data = """
#!/usr/bin/env ion
echo
echo "## preparing environment ##"
export GROUPS=0
export HOME=/root
export HOST=redox
export SHELL=/bin/sh
export UID=0
export USER=root
cd /root
env
echo
echo "## running redoxer ##"
redoxerd
"""
